@model TMS_Project.Models.TraineeProfile
@{
	ViewBag.Title = "Create";
}

<h2>Add Trainee Profile</h2>
@using (Html.BeginForm("Create", "TraineeProfiles", FormMethod.Post))
{
		<div class="form-group">
			@Html.LabelFor(tp => tp.TraineeId)
			@Html.DropDownListFor(tp => tp.TraineeId
			  , new SelectList(Model.Trainees, "Id", "Email"),
			  "Select Trainee",
			  new { @class = "form-control" }
			)
		</div>

		<div class="form-group">
			@Html.LabelFor(tp => tp.Full_Name)
			@Html.TextBoxFor(tp => tp.Full_Name, new { @class = "form-control" })
			@Html.ValidationMessageFor(tp => tp.Full_Name, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(tp => tp.Education)
			@Html.TextBoxFor(tp => tp.Education, new { @class = "form-control" })
			@Html.ValidationMessageFor(tp => tp.Education, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(tp => tp.Programming_Language)
			@Html.TextBoxFor(tp => tp.Programming_Language, new { @class = "form-control" })
			@Html.ValidationMessageFor(tp => tp.Programming_Language, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(tp => tp.Experience_Details)
			@Html.TextBoxFor(tp => tp.Experience_Details, new { @class = "form-control" })
			@Html.ValidationMessageFor(tp => tp.Experience_Details, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(tp => tp.Location)
			@Html.TextBoxFor(tp => tp.Location, new { @class = "form-control" })
			@Html.ValidationMessageFor(tp => tp.Location, "", new { @class = "text-danger" })
		</div>

		<button type="submit" class="btn btn-primary">Add</button>
	}