@model TMS_Project.Models.TrainerProfile
@{
	ViewBag.Title = "Edit";
}

<h2>Edit Trainer Profile</h2>

@using (Html.BeginForm("Edit", "TrainerProfiles", FormMethod.Post))
{
	<div class="form-group">
		@Html.LabelFor(tp => tp.TrainerId)
		@Html.DropDownListFor(tp => tp.TrainerId
		  , new SelectList(Model.Trainers, "Id", "Email"),
		  "Select Trainee",
		  new { @class = "form-control" }
		)
	</div>

	<div class="form-group">
		@Html.LabelFor(tp => tp.Full_Name)
		@Html.EditorFor(tp => tp.Full_Name, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(tp => tp.Full_Name)
	</div>

	<div class="form-group">
		@Html.LabelFor(tp => tp.Education)
		@Html.EditorFor(tp => tp.Education, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(tp => tp.Education)
	</div>

	<div class="form-group">
		@Html.LabelFor(tp => tp.External_Internal)
		@Html.EditorFor(tp => tp.External_Internal, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(tp => tp.External_Internal)
	</div>

	<div class="form-group">
		@Html.LabelFor(tp => tp.Working_Place)
		@Html.EditorFor(tp => tp.Working_Place, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(tp => tp.Working_Place)
	</div>

	<div class="form-group">
		@Html.LabelFor(tp => tp.Phone_Number)
		@Html.EditorFor(tp => tp.Phone_Number, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(tp => tp.Phone_Number)
	</div>

	<button type="submit" class="btn btn-primary">Edit</button>
}

