@model IEnumerable<TMS_Project.Models.TrainerProfile>
@{
    ViewBag.Title = "Mine";
}

<h2>My Profile</h2>

<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Trainer Email</th>
		<th>Trainer UserName</th>
		<th>Trainer FullName</th>
		<th>Education</th>
		<th>External or Internal Type</th>
		<th>Working Place</th>
		<th>Phone Number</th>
		<th>Edit</th>
		

	</tr>
	@foreach (var trainer in Model)
	{
		<tr>
			<th>@trainer.Id</th>
			<th>@trainer.Trainer.Email</th>
			<th>@trainer.Trainer.UserName</th>
			<th>@trainer.Full_Name</th>
			<th>@trainer.Education</th>
			<th>@trainer.External_Internal</th>
			<th>@trainer.Working_Place</th>
			<th>@trainer.Phone_Number</th>
			<th>@Html.ActionLink("Edit", "Edit", new { id = trainer.Id })</th>
		</tr>
	}
</table>

