@model IEnumerable<TMS_Project.Models.Topic>
@{
	ViewBag.Title = "Index";
}

<h2>Topic</h2>

@using (Html.BeginForm("Index", "Topics", FormMethod.Get))
{
	<p>
		<input type="search" placeholder="Enter Topic Name or Course Name"
			   name="searchTopic" style="width:230px; height:33px;" />

		<input type="submit" value="Search" class="btn btn-primary" />

		@Html.ActionLink("View all Topics", "Index", "Topics")
	</p>
}

@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
{
	@Html.ActionLink("Create a new Topic", "Create")
}

<table class="table table-striped">
	<tr>
		<th>Topic Id</th>
		<th>Topic Name</th>
		<th>Topic Descriptions</th>
		<th>Course Name</th>
		@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
		{
			<th>Edit</th>
			<th>Delete</th>
		}
	</tr>

	@foreach (var topic in Model)
	{
		<tr>
			<td>@topic.Id</td>
			<td>@topic.Name</td>
			<td>@topic.Descriptions</td>
			<td>@topic.Course.Name</td>
			@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
			{
				<td>@Html.ActionLink("Edit this topic", "Edit", new { id = topic.Id })</td>
				<td>@Html.ActionLink("Delete this topic", "Delete", new { id = topic.Id })</td>
			}
		</tr>
	}
</table>