@model IEnumerable<TMS_Project.Models.Course>
@{
	ViewBag.Title = "Index";
}

<h2>Course</h2>

@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{
	<p>
		<input type="search" class="form-control" placeholder="Enter Course Name or Category Name"
			   name="searchCourse" style="width:271px; height:33px; display:inline-block;" />

		<input type="submit" value="Search" class="btn btn-info" />

		<a class="btn btn-info" href="~/Courses/Index" role="button">
			View all Courses
		</a>
	</p>
}

@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
{
<div>
	<a class="btn btn-info" href="~/Courses/Create" style="margin-bottom:10px;" role="button">
		Create new Course
	</a>
</div>
}

<table class="table table-striped">
	<tr>
		<th>Course Id</th>
		<th>Course Name</th>
		<th>Course Descriptions</th>
		<th>Category Name</th>
		@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
		{
			<th>Edit</th>
			<th>Delete</th>
		}
	</tr>

	@foreach (var course in Model)
	{
		<tr>
			<td>@course.Id</td>
			<td>@course.Name</td>
			<td>@course.Descriptions</td>
			<td>@course.Category.Name</td>
			@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
			{
				<td>@Html.ActionLink("Edit this course", "Edit", new { id = course.Id })</td>
				<td>@Html.ActionLink("Delete this course", "Delete", new { id = course.Id })</td>
			}
		</tr>
	}
</table>