@model IEnumerable<TMS_Project.Models.TraineeToCourse>
@{
	ViewBag.Title = "Index";
}

<h2>Manage Trainee</h2>

@using (Html.BeginForm("Index", "TraineeToCourses", FormMethod.Get))
{
	<p>
		<input type="search" placeholder="Enter Trainee Email or UserName"
			   name="searchTrainee" style="width:170px; height:33px;" />

		<input type="submit" value="Search" class="btn btn-primary" />

		@Html.ActionLink("View all Trainee", "Index", "TraineeToCourses")
	</p>
}

@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
{
	@Html.ActionLink("Assign Trainee to Course", "Create")
}

<table class="table table-striped">
	<tr>
			<th>Id</th>
			<th>Trainee Email</th>
			<th>Trainee UserName</th>
			<th>Course Name</th>
			@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
			{
				<th>Edit</th>
				<th>Delete</th>
			}

	</tr>
	@foreach (var trainee in Model)
	{
		<tr>
			<th>@trainee.Id</th>
			<th>@trainee.Trainee.Email</th>
			<th>@trainee.Trainee.UserName</th>
			<th>@trainee.Course.Name</th>
			@if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
			{
				<th>@Html.ActionLink("Edit", "Edit", new { id = trainee.Id })</th>
				<th>@Html.ActionLink("Delete", "Delete", new { id = trainee.Id })</th>
			}
		</tr>
	}
</table>